{% extends './layout.html' %}

{% block title %}Create study set{% endblock %}

{% block body %}

<form id    ="create-set" 
        action="/create-set" 
        method="POST">
    {% csrf_token %}
  <div class="grid-container">



    <div class="form-line">
      <input  id  ="create-set-title" 
              type="text" 
              name="title" 
              size="81" 
              maxlength  ="127"
              placeholder="Title"  
              required>
    </div>

    <div class="form-line">
      <textarea id  ="create-set-textarea" 
                name="description"
                cols="80" 
                rows="5" 
                maxlenght  ="1023" 
                placeholder="Description"></textarea>
    </div>

    <div class="form-line">
      <select name ="terms-lang" 
              label="Terms language: " 
              required>
        {% include './language_selection.html' %}
      </select>

      <select name ="defs-lang" 
              label="Definitions language: "
              required>
        {% include './language_selection.html' %}
      </select>
    </div>

  </div>
</form>
{% endblock %}