{% extends './layout.html' %}

{% block title %}Create study set{% endblock %}

{% block body %}

<h1 class="stylish header-centered">Create a new set</h1>

<form id    ="create-set" 
        action="/create-set" 
        method="POST">
    {% csrf_token %}
  <div class="grid-container">



    <div class="form-line">
      <input  id  ="create-set-title" 
              type="text" 
              name="title" 
              size="81" 
              maxlength  ="127"
              placeholder="Title"  
              required>
    </div>

    <div class="form-line">
      <textarea id  ="create-set-textarea" 
                name="description"
                cols="80" 
                rows="5" 
                maxlenght  ="1023" 
                placeholder="Description"></textarea>
    </div>


    <div  id   ="terms-lang-container"
          class="form-cell">
      <label for="terms-lang-container">Terms language: </label>
      <select name ="terms-lang"  
              required>
        {% include './language_selection.html' %}
      </select>
    </div>


    <div  id   ="defs-lang-container"
          class="form-cell">
    <label for="defs-lang-container">Definitions language: </label>
      <select name ="defs-lang" 
              required>
        {% include './language_selection.html' %}
      </select>
    </div>

    {% for i in range %}
      <div id="item-{{ i }}" class="form-line study-item">
        {% include './study-item.html' %}
      </div>
    {% endfor %}
  </div>

  <input type="submit" value="Create study set">
</form>
{% endblock %}