{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta   name="referrer" 
            content="same-origin"/>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous">
    </script>

    <link   rel ="icon" 
            type="image/x-icon"
            href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhQSPaO-J0w14NgFpbf23Hzl6zaT-zZFboaXcYVrB72Bgo6I0SYFwdnL9xq4QG4FzbrlA&usqp=CAU">

    <link   rel ="stylesheet" 
            href="{% static 'gwybodaeth/styles/styles.css' %}">

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js">
    </script>
    
    <!-- Custom JS (project-specific) -->
    <script type="module"
            src ="{% static 'gwybodaeth/scripts/main.js' %}">
    </script>



  </head>


  <body>

    {% include "./includable/navbar.html" %}
    
    <div class="body">          
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>