{% extends "./layout.html" %}

{% block title %}
  {{ study_set.title }}
{% endblock %}

{% block body %}

  <div class="grid-container-6">

    <div class="study-set-line">
      <h2>{{ study_set.title }}</h2>
    </div>

    <div class="study-set-line">
      <p>{{ study_set.description }}</p>
    </div>
  </div>

  <div id="study-items" class="study-items">

  <!--
  <p>{{ study_set.terms }}</p>
    {% for item in study_set.terms %}
    <div class="grid-container-6 study-item">
      <div class="study-set-cell-2 study-term">Term test</div>
      <div class="study-set-cell-2 study-def">Definition test</div>
      <div class="study-set-cell-1 study-cat">Category test</div>
      <div class="study-set-cell-1 study-options">Some options</div>
    </div>
    {% empty %}
      <p>This study set has no items! </p>
    {% endfor %}

    -->
  </div>
  

{% endblock %}