{% extends './layout.html' %}

{% block title %}
  {{ user.username|title }}'s sets
{% endblock %}

{% block body %}
  TODO

  <div class="grid-container-2">
    {% for set in sets %}
      <div class="set-item">
        <div class="set-title">
          <h3><a href="{% url 'study-set-view' set.id %}">{{ set.title }}</a></h3>
        </div>

        <div class="set-description">
          <p>{{ set.description}}</p>
        </div>

        <div class="set-terms-counter">
          {{ set.terms_count }} terms
        </div>

        <div class="set-timestamp">
          Created on {{ set.timestamp }}.
        </div>
      </div>
    {% empty %}
      <h3> You haven't created any study sets! </h3>
      <p> Maybe it's time to <a href="{% url 'create-set' %}">create one</a>?
    {% endfor %}
  </div>
{% endblock %}