{% extends './layout.html' %}

{% block title %}
  {{ study_set.title }} - write
{% endblock %}

{% block body %}
  
  {% include "./includable/study_set_header.html" %}
  {% include "./includable/learning_options.html" %}

  <form>
    <div  id   ="write-container"
          class="grid-wide-container">

      <div id="write-question">Placeholder</div>
      <div id="write-pass">
        <button id   ="write-pass-button"
                class="btn btn-outline-warning">
          Don't know
        </button>
      </div>
      
        <textarea name="answer" 
                  id  ="write-answer-area"
                  cols="80"
                  rows="1"
                  placeholder="Some answer"></textarea>
        
        <input  id   ="write-answer-button"
                class="btn btn-info"
                type ="submit" 
                value="Answer">
      
      <div id="write-textarea-label">Type the answer in ...</div>
      <div id="write-category-container">Category: <span id="write-category"></span></div>
      <div id="write-special-letters">TODO (optional)</div> <!-- May be postponed as there are more important things to do -->

      <div  id="write-progress-container">
        {% include './includable/progress_3.html' %}
      </div>

    </div>
  </form>


  <div  id   ="write-feedback-container"
        class="grid-wide-container">

    <div id="write-feedback-value">
      Correct/incorrect
    </div>
    <div id="write-feedback-question">
      Asked question
    </div>
    <div id="write-feedback-input">
      User input
    </div>
    <div id="write-feedback-answers">
      All the correct answers
    </div>
    <div id="write-feedback-continue">
      <button id   ="write-feedback-button"
              class="btn btn-outline-success">
        Click here or press any key to continue
      </button>
    </div>

  </div>


{% endblock %}