{% extends './layout.html' %}

{% block title %}
  {{ study_set.title }} - write
{% endblock %}

{% block body %}
  
  {% include "./includable/study_set_header.html" %}
  {% include "./includable/learning_options.html" %}



  <div  id   ="write-wrapper"
        class="grid-wide-container grid-wide-outer">

    {% include './Write/main.html'     %}
    {% include './Write/feedback.html' %}
    {% include './Write/summary.html'  %}

    <div id="write-progress-container">
      {% include './Write/progress.html' %}
    </div>

  </div>



{% endblock %}