{% extends './layout.html' %}

{% block title %}
  {{ study_set.title }} - write
{% endblock %}

{% block body %}
  
  {% include "./includable/study_set_header.html" %}
  {% include "./includable/learning_options.html" %}

  <form>
    <div  id   ="write-container"
          class="grid-standard-container">

      <div id="write-question">Placeholder</div>
      <div id="write-pass">Don't know</div>
      
        <textarea name="answer" 
                  id  ="write-answer-area"
                  cols="80"
                  rows="1"
                  placeholder="Some answer"></textarea>
        
        <input  id   ="write-answer-button"
                class="btn btn-info"
                type ="submit" 
                value="Answer">
      
      <div id="write-textarea-label">Type the answer in ...</div>
      <div id="write-category">Category</div>
      <div id="write-special-letters">TODO (optional)</div> <!-- May be postponed as there are more important things to do -->

      <div  id="write-progress-container">
        {% include './includable/progress_3.html' %}
      </div>
      
    </div>
  </form>


{% endblock %}