<!---------------------------------------------------------------------------- 
                                  Summary
----------------------------------------------------------------------------->

<div  id   ="write-summary-container"
      class="grid-wide-container hidden">



  <div id="write-summary-correct">
    Correct answers: 
    <span id="summary-correct"></span> 
    (<span id="summary-percentage"></span>%)
  </div>

  <div id="write-summary-incorrect">
    Incorrect answers: <span id="summary-incorrect"><span>
  </div>

  <div id="write-summary-continue">
    <button id ="summary-continue-button"
          class="btn btn-outline-lleuad-lawn"
          role ="button">
    Continue
  </button>
  </div>
  
  
  <div id="summary-rounds-wrapper">

  </div>

  
</div>

