  <!---------------------------------------------------------------------------- 
                                    Summary
  ----------------------------------------------------------------------------->

    <div  id   ="write-summary-container"
          class="grid-wide-container hidden">



      <div id="write-summary-correct">
        Correct answers: <span id="summary-correct"></span>
      </div>

      <div id="write-summary-incorrect">
        Incorrect answers: <span id="summary-incorrect"><span>
      </div>

      <div id="write-summary-percentage">
        Correct answers percentage: <span id="summary-percentage"></span>%
      </div>
    
    
      <h3>TODO after more important things have been done:</h3>
      - Summary with the list of given answers<br />
      - Multiple rounds (moving incorrect answers back to the remaining list)<br />
    </div>