<div  id   ="learn-multiple-choice-container"
      class="grid-wide-container">

  <div id="lmc-term">
    Some term
  </div>

  <div id="lmc-category">
    Some category
  </div>

  <div id="lmc-feedback">

  </div> 


  <ol id   ="lmc-answers">
    <li id   ="lmc-answer-A"
        class="lmc-answer">
      Answer A
    </li>

    <li id   ="lmc-answer-B"
        class="lmc-answer">
      Answer B
    </li>

    <li id   ="lmc-answer-C"
        class="lmc-answer">
      Answer C
    </li>

    <li id   ="lmc-answer-D"
        class="lmc-answer">
      Answer D
    </li>
  </ol>

  <button id   ="lmc-continue-button"
          class="btn btn-outline-lleuad hover-moonlight">
    Continue        
  </button>
</div>