<div  id   ="learn-multiple-choice-container"
      class="grid-wide-container">

  <div id="lmc-term">
    Some term
  </div>

  <div id="lmc-category">
    Some category
  </div>

  <div id="lmc-feedback">

  </div> 


  <ol id   ="lmc-answers">
    <li class="lmc-answer">
      <button id   ="lmc-answer-A"
            class="lmc-answer-btn">
        Answer A
      </button>
    </li>

    <li class="lmc-answer">
      <button id   ="lmc-answer-B"
              class="lmc-answer-btn">
        Answer B
      </button>
    </li>

    <li class="lmc-answer">
      <button id   ="lmc-answer-C"
              class="lmc-answer-btn">
        Answer C
      </button>
    </li>

    <li class="lmc-answer">
      <button id   ="lmc-answer-D"
              class="lmc-answer-btn">
        Answer D
      </button>
    </li>
  </ol>

  <button id   ="lmc-continue-button"
          class="btn btn-outline-lleuad hover-moonlight">
    Continue        
  </button>
</div>