<div  id   ="learn-progress-container"
      class="grid-progress-container">

  <div  id   ="learn-progress-remaining-area"
        class="learn-progress-grid-cell">

    <div class="prog-row prog-row-top">
      <span class="prog-row-left">
        ABCD Remaining:
      </span>
      <span class="prog-row-right">
        A / X
      </span>
    </div>
    
    <div class="prog-row prog-row-bottom">
      <span class="prog-row-left">
        Write Remaining:
      </span>
      <span class="prog-row-right">
        B / X
      </span>
    </div>

  </div>

  <div  id   ="learn-progress-bar-area"
        class="learn-progress-grid-cell">
    <div class="prog-row prog-row-top">
      <div class="prog-row-full">
        <div class="progress">
        
          <div  id   ="progress-bar-remaining"
                class="progress-bar bg-warning"
                role ="progressbar"
                style="width: 0%"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100">
          </div>

          <div  id   ="progress-empty-remaining"
                class="progress-bar bg-warning-empty"
                role ="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100">
          </div>
      
        </div>
      </div>
    </div>

    <div class="prog-row prog-row-bottom">
      <span class="prog-row-left">
        Some stuff
      </span>
      <span class="prog-row-right">
        More stuff
      </span>
    </div>
  </div>

  <div  id   ="learn-progress-failures-area"
        class="learn-progress-grid-cell">
    <div class="prog-row prog-row-top">
      <span class="prog-row-left">
        ABCD failures:
      </span>
      <span class="prog-row-right">
        P
      </span>
    </div>

    <div class="prog-row prog-row-bottom">
      <span class="prog-row-left">
        Write failures: 
      </span>
      <span class="prog-row-right">
        Q
      </span>
    </div>

  </div>
</div>