<div  id   ="learn-summary-container"
      class="grid-wide-container hidden">



  
  <div id="ls-choices">
    Total choices: 
    <span class="ls-value"></span>
  </div>

  <div id="lsc-failures">
    Failed choices: 
    <span class="ls-value"></span>
  </div>
  
  <div id="lsc-ratio">
    Incorrect/correct ratio: 
    <span class="ls-value"></span>
  </div>



  <div id="ls-writes">
    Total writes: 
    <span class="ls-value"></span>
  </div>
  
  
  <div id="lsw-failures">
    Failed writes: 
    <span class="ls-value"></span>
  </div>
  

  <div id="lsw-ratio">
    Incorrect/correct ratio: 
    <span class="ls-value"></span>
  </div>


</div>

