#create-set-title       {grid-area: title;}
#create-set-description {grid-area: descr;}
#terms-lang-container   {grid-area: langT;}
#defs-lang-container    {grid-area: langD;}


#create-set-info-wrapper {
  background   : theme-color("moon-glass");
  border-radius: 21.37px;
  display      : grid;
  max-width    : 800px;
  margin       : auto;
  padding      : 10px;
  column-gap   : 10px;
  row-gap      : 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows   : 1fr 1fr 1fr;
  grid-template-areas  :
      'title title'
      'descr descr'
      'langT langD';
}

#create-set-title,
#create-set-description,
#terms-lang, #defs-lang  {
  background   : transparent;
  outline      : none;
  border-bottom: 2px solid map-get($theme-colors, "lleuad");
  border-radius: 0;
  font-size    : 1.25em;
  margin       : auto;

  &:focus {
    outline      : none;
    border-bottom: 2px solid map-get($theme-colors, "lleuad-lawn");
  }
}

#create-set-description {
  resize: none;
}


#terms-lang, #defs-lang  {
  background-color: $background-color;
  border          : 0px solid transparent;


  select, 
  select:hover,
  select:active,
  select:focus {
    border: 0px solid transparent;
  }
}



#create-items-wrapper {
  max-width: 800px;
  margin   : auto;

}

.term-input        {grid-area: term;}
.definition-input  {grid-area: defi;}
.category-input    {grid-area: cate;}
.notes-input       {grid-area: note;}

.create-item-container {
  background   : map-get($theme-colors, "moon-glass");
  border-radius: 21.37px;
  display      : grid;
  column-gap   : 10px;
  margin       : 10px 0;
  padding      : 15px;
  grid-template-columns: 4fr 11fr;
  grid-template-rows   : 1fr 1fr 1fr;
  grid-template-areas  : 
      'term term'
      'defi defi'
      'cate note';

}
.create-item-input {
  display: block;

  background   : transparent;
  border       : none;
  border-radius: 0;
  height       : 50px;
  padding-top  : 20px;
  border-bottom: 2px solid map-get($theme-colors, "lleuad");
  resize       : none;

  &:focus, &:hover {
    outline      : none;
    border-bottom: 2px solid map-get($theme-colors, "lleuad-lawn");
  }
}

.create-item-index-bullet {
  text-align   : center;
  border-radius: 2137px;
  padding      : 5px 0px;
  position     : relative;
  left         : -15px;
  top          : 35px;
  width        : 35px;
  height       : 35px;
}


#create-set-add-item {grid-area: addnew;}
#create-set-submit   {grid-area: submit;}

#create-form-buttons-container {
  gap        : 20px;
  margin     : auto;
  height     : 60px;
  padding-top: 20px;
  width      : 500px;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows   : 1fr;
  grid-template-areas  :
    'addnew submit';
}

.create-set-button {
  cursor    : pointer;
  display   : block;
  margin    : auto;
  margin-top: 15px;
  width     : 200px;

  &:hover {
    box-shadow: 0 0 5px ghostwhite;
  }
}