/*
 * Styles that can be reused among several apps (like flashcards, write etc.)  
 *   should go into this file.
 */


html {
  background-color: $background-color;
} 

.body {
  background-color: $background-color;
  padding         : 100px 20px;

  font-family: $font-main;
  color      : $text-color;
}

h1 {
  color: $text-color;
} 


.bg-porffor       { background-color: theme-color("porffor"      ) !important; }
.bg-lleuad        { background-color: theme-color("lleuad"       ) !important; }
.bg-moon-glass    { background-color: theme-color("moon-glass"   ) !important; }
.bg-success-empty { background-color: theme-color("success-empty") !important; }
.bg-info-empty    { background-color: theme-color("info-empty"   ) !important; }
.bg-danger-empty  { background-color: theme-color("danger-empty" ) !important; }
.bg-warning-empty { background-color: theme-color("warning-empty") !important; }


.btn-lleuad,
.btn-outline-lleuad {
  &:hover {
    background-color: theme-color("lleuad") !important;
  }
}

a:hover {
  text-decoration: none;
}

input,
textarea,
select,
button {
  width           : 100%;
  border-radius   : 21.37px;
  padding         : 8px 20px;
  background-color: $background-color;
  border          : none;
  color           : $text-color;

  &:active, &:focus, &:hover {
    border: none;
  }
}

.learning-options {
  display      : block;
  margin       : auto;
  margin-top   : 30px;
  margin-bottom: 30px;
  position     : relative;
  text-align   : center;
}

.learning-options-button {
  max-width    : 150px;
  margin       : auto;
  text-align   : center;
}

.hover-moonlight:hover {
  box-shadow:
    0 0 25px 2px theme-color("lleuad");
}

.moonlight-stronk {
  box-shadow: 
      0 0 10px  theme-color("lleuad"),
      0 0 25px  theme-color("lleuad"),
      0 0 70px  theme-color("lleuad");
}

#study-set-submit,
#study-set-add-item {
  background-color: $item-background-color;
  cursor          : pointer;
  display         : block;
  max-width       : fit-content;
  margin          : auto;
  margin-top      : 15px;

  &:hover {
    box-shadow: 0 0 5px ghostwhite;
  }
}

.stylish {
  font-family: $font-stylish;
}

.header-centered {
  text-align: center;
}

.grid-centered {
  display        : flex;    // --------------------------------------------------------------- //
  align-items    : center;  //   These three center content both horizontally and vertically   //
  justify-content: center;  // --------------------------------------------------------------- //
  width    : 100%;
  height   : 100%;
}

.grid-standard-container,
.grid-wide-container {
  align-items  : stretch;
  border-radius: 21.37px;
  display      : grid;
  gap          : 5px;
  margin       : auto;
  margin-top   : 30px;
  z-index      : $base-z-index;        
}

.grid-standard-container,
.grid-wide-outer {
  background: theme-color("moon-glass");
}

.grid-standard-container {
  max-width : 800px;
  min-height: 400px;
  padding   : 10px;
}

.grid-wide-outer {
  padding   : 0px 20px 10px 20px;
  min-height: 400px;
  max-width : 1000px;
}

.grid-progress-container {
  align-items  : stretch; 
  display: grid;
  width  : 100%;
  height : 100%;
  gap    : 20px;
  grid-template-rows   : subgrid;
}

.btn {
  border-radius: 21.37px;
}

.hidden {
  display: none !important;
}

.progress {
  height: 8px;
  width: 100%;
}