/**
 *  #write-container elements
 *  The block below is only meant to contain grid-area names for each element.
 *  Note: keep the elements in order and keep the block clumped together.
 */
#write-question           { grid-area: quest; }
#write-pass               { grid-area: pass;  }
#write-answer-area        { grid-area: answer;}
#write-answer-button      { grid-area: submit;}
#write-category-container { grid-area: cat;   }
#write-textarea-label     { grid-area: label; }
#write-special-letters    { grid-area: spec;  }
#write-progress-container { grid-area: prog;  }

#write-container {
  grid-template-columns: 3fr 3fr 2fr 2fr;
  grid-template-rows   : 1fr 3fr 1fr 1fr 1fr;
  grid-template-areas  : 
      'quest  quest  quest  pass  '
      'answer answer answer answer'
      'label  .      cat    submit'
      'spec   .      .      .     '
      'prog   prog   prog   prog  ' 
      ;
}

#write-question {
  font-size: 1.5em;
}

#write-pass {
  text-align: right;
}

#write-pass-button {
  cursor    : pointer;
  border-radius: 21.37px;;
}

#write-answer-area {
  font-size: 1.5em;
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
  height: 100px;
  background: transparent;
  border-top: 2px solid $transparent-ghostwhite-15;
  border-bottom: 3px solid theme-color("lleuad");
  border-radius: 0;

  &:focus {
    outline: none !important;
  }
}

#write-answer-button {
  border-radius: 21.37px;
  margin       : auto;
  width        : 100%;
}

/**
 *  #write-progress-area elements
 *  #write-progress-area is a grid container which itself is located in another grid container,
 *     namely #write-progress-container (which is designed to hold 3 areas)
 *  The block below is only meant to contain grid-area names for each element.
 *  Note: keep the elements in order and keep the block clumped together.
 */

#progress-correct  ,     
#progress-incorrect,   
#progress-remaining      { grid-area: bar;}
.progress-bar-label      { grid-area: lab;} 
.progress-bar-counter    { grid-area: cnt;}

#write-progress-container {
  align-items  : stretch; 
  display: grid;
  width  : 100%;
  height : 100%;
  gap    : 20px;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows   : subgrid;
}

.progress-area {
  display  : grid;
  width    : 100%;
  height   : 100%;
  grid-column: span 1;
  grid-template-columns: subgrid;
  grid-template-rows   : subgrid;
  grid-template-areas  : 
      'bar bar bar'
      'lab .   cnt'
      ;
}

.progress-bar-counter {
  text-align: right;
}


/**
 *  #write-feedback-container elements
 *  The block below is only meant to contain grid-area names for each element.
 *  Note: keep the elements in order and keep the block clumped together.
 */
#write-feedback-value             {grid-area: value;}
#write-feedback-question          {grid-area: quest;}
#write-feedback-input-container   {grid-area: input;}
#write-feedback-answers-container {grid-area: answs;}
#write-feedback-continue          {grid-area: contn;}
#write-feedback-retry             {grid-area: retry;}
#write-feedback-override          {grid-area: overr;}

#write-feedback-container { 
  grid-template-columns: 3fr 1fr;
  grid-template-rows   : 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas  : 
    'value value'
    'quest retry'
    'input overr'
    'answs answs'
    'contn contn';
}





  
#write-summary-correct    {grid-area: good;}
#write-summary-incorrect  {grid-area: bad; }
#write-summary-percentage {grid-area: perc;}

#write-summary-container {
  grid-template-columns: 1fr;
  grid-template-rows   : 1fr 1fr 1fr;
  grid-template-areas  :
    'good bad  perc';
}