<div class="learning-options">


    <a href="{% url 'study-set-view' study_set.id %}">
      <button id   ="learning-options-set"
              type ="button"
              class="learning-options-button btn btn-lleuad hover-moonlight">
        Set
      </button>
    </a>

    <a href="{% url 'flashcards' study_set.id %}">
      <button id   ="learning-options-flashcards"
              type ="button"
              class="learning-options-button btn btn-lleuad hover-moonlight">
        Flashcards
      </button>
    </a>

    <a href="{% url 'write' study_set.id %}">
      <button id   ="learning-options-write"
              type ="button"
              class="learning-options-button btn btn-lleuad hover-moonlight">
        Write
      </button>
    </a>

    <a href="{% url 'learn' study_set.id %}">
      <button id   ="learning-options-learn"
              type ="button"
              class="learning-options-button btn btn-lleuad hover-moonlight">
        Learn
      </button>
    </a>
</div>