<li class="nav-item">

  <div class="dropdown">

    <button  class ="btn 
                btn-transparent
                dropdown-toggle
                nav-link" 
        
        href  ="#"
        type  ="button"
        role  ="button" 
        id    ="navbar-create-dropdown-button"
        
        data-bs-toggle="dropdown"
        aria-haspopup ="true"
        aria-expanded ="false"
        
        title="Dropdown menu which allows to choose between Create module written with vanilla JS or React.">
      Create
    </button>

    <ul  class="dropdown-menu
                bg-lleuad
                dropdown-in-navbar"
          role ="menu"
          aria-labelledby="dropdownMenuLink">

      <li>
        <a  class="dropdown-item" 
            href ="{% url 'create-set' %}">
          With vanilla JS
        </a>
      </li>
        
      <li>  
        <a  class="dropdown-item"
            href ="{% url 'create-set-react' %}">
          With React
        </a>
      </li>
    
    </ul>
  </div>
</li>

