<div  id   ="progress-remaining"
      class="progress-area">
  <div  id   ="progress-bar-remaining"
        class="progress-bar bg-info"
        role ="progressbar">
  </div>
  <div class="progress-bar-label">
    Remaining
  </div>
  <div class="progress-bar-counter">
    <span id="remaining-counter">C</span> / <span class="total-items">X</span>
  </div>
</div>

<div  id   ="progress-correct"
      class="progress-area">
  <div  id   ="progress-bar-correct"
        class="progress-bar bg-success"
        role ="progressbar">
  </div>
  <div class="progress-bar-label">
    Correct
  </div>
  <div class="progress-bar-counter">
    <span id="correct-counter">A</span> / <span class="total-items">X</span>
  </div>
</div>

<div  id   ="progress-incorrect"
      class="progress-area">
  <div  id   ="progress-bar-incorrect"
        class="progress-bar bg-danger"
        role ="progressbar">
  </div>
  <div class="progress-bar-label">
    Incorrect
  </div>
  <div class="progress-bar-counter">
    <span id="incorrect-counter">B</span> / <span class="total-items">X</span>
  </div>
</div>
