<div  id="write-progress-container">
  
  <div class="progress-area">
    <div  id   ="progress-bar-correct"
          class="progress-bar bg-success"
          role ="progressbar">
    </div>

    <div class="progress-bar-label">
      Correct
    </div>

    <div class="progress-bar-counter">
      A / X
    </div>

  </div>

  <div class="progress-area">
    
    <div  id   ="progress-bar-incorrect"
          class="progress-bar bg-danger"
          role ="progressbar">
    </div>
    
    <div class="progress-bar-label">
      Incorrect
    </div>
    
    <div class="progress-bar-counter">
      B / X
    </div>

  </div>

  <div class="progress-area">
    
    <div  id   ="progress-bar-remaining"
          class="progress-bar bg-info"
          role ="progressbar">
    </div>
    
    <div class="progress-bar-label">
      Remaining
    </div>
    
    <div class="progress-bar-counter">
      C / X
    </div>

  </div>

</div>