// Custom variables

$font-main:    Helvetica;
$font-stylish: 'Times New Roman';
$text-color: ghostwhite;

$background-color: #191e33;

// Bootstrap variables and modifications

$theme-colors: (
  "porffor": #3a003d
);

// The rest

@import "../bootstrap/scss/bootstrap";
.body {
  background-color: $background-color;
  padding: 70px 20px;

  font-family: $font-main;
  color:       $text-color;
}

h1 {
  color: blue;
} 

.bg-porffor {
  background-color: theme-color("porffor");
}