// Custom variables

$font-main   :    Helvetica;
$font-stylish: 'Times New Roman';
$text-color  : ghostwhite;

$background-color         : #0b0f1e;
$transparent-ghostwhite-15: rgba(250, 250, 255, 0.15);
$transparent-ghostwhite-08: rgba(250, 250, 255, 0.08);
$item-background-color : $transparent-ghostwhite-08;
$item-box-shador-color : $transparent-ghostwhite-15; 

$base-z-index: 0;

// Bootstrap variables and modifications

@import "../bootstrap-5/scss/functions";
@import "../bootstrap-5/scss/variables";
@import "../bootstrap-5/scss/maps";
@import "../bootstrap-5/scss/mixins";
@import "../bootstrap-5/scss/utilities";

$custom-colors: map-merge($theme-colors, (
  "porffor"      : rgb(32, 7, 34),
  "lleuad"       : rgb(60, 100, 115),
  "lleuad-lawn"  : rgb(183, 209, 218),
  "moon-glass"   : rgb(60, 100, 115, 0.3),
  "success-empty": rgb(1, 76, 37),
  "info-empty"   : rgb(0, 49, 89),
  "danger-empty" : rgb(87, 2, 2),
  "warning-empty": rgb(83, 74, 0),
  "transparent"  : rgba(255, 255, 255, 0)
));







$theme-colors         : map-merge( $theme-colors,     $custom-colors                   );
$theme-colors-rgb     : map-loop(  $theme-colors,     to-rgb,           "$value"       );
$utilities-colors     : map-merge( $utilities-colors, $theme-colors-rgb                );
$utilities-text-colors: map-loop(  $utilities-colors, rgba-css-var,     "$key",  "text");
$utilities-bg-colors  : map-loop(  $utilities-colors, rgba-css-var,     "$key",  "bg"  );



$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $custom-colors
          ),
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            $custom-colors
          ),
        ),
      ),
    ),
  )
);




@import "../bootstrap-5/scss/utilities/api";
// Bootstrap
@import "../bootstrap-5/scss/bootstrap";









// Keep other imports below Bootstrap so as to be able to override its styles.
@import "./includes/general";


@import "./includes/create";
@import "./includes/flashcards";
@import "./includes/learn";
@import "./includes/news";
@import "./includes/study_set";
@import "./includes/user_sets";
@import "./includes/write";

// Add temporary solutions to the file imported below
// @import "./includes/bandaid";

// The rest

* {
  box-sizing: border-box !important;
}


