// Custom variables

$font-main   :    Helvetica;
$font-stylish: 'Times New Roman';
$text-color  : ghostwhite;

$background-color         : #0b0f1e;
$transparent-ghostwhite-15: rgba(250, 250, 255, 0.15);
$transparent-ghostwhite-08: rgba(250, 250, 255, 0.08);
$item-background-color : $transparent-ghostwhite-08;
$item-box-shador-color : $transparent-ghostwhite-15; 

$base-z-index: 0;

// Bootstrap variables and modifications

$theme-colors: (
  "porffor"      : #200722,
  "lleuad"       : rgb(60, 100, 115),
  "lleuad-lawn"  : rgb(201, 223, 231),
  "moon-glass"   : rgba(60, 100, 115, 0.3),
  "success-empty": rgb(1, 76, 37),
  "info-empty"   : rgb(0, 49, 89),
  "danger-empty" : rgb(87, 2, 2),
  "warning-empty": rgb(83, 74, 0)
);

// The rest

* {
  box-sizing: border-box !important;
}

// Bootstrap
@import "../bootstrap/scss/bootstrap";

// Keep other imports below Bootstrap so as to be able to override its styles.
@import "./includes/_general.scss";

@import "./includes/create.scss";
@import "./includes/_study_set.scss";
@import "./includes/_flashcards.scss";
@import "./includes/_write.scss";
@import "./includes/_learn.scss";
