{% extends 'gwybodaeth/layout.html' %}

{% block title %}Create study set{% endblock %}

{% block body %}

<h1 class="stylish header-centered">Create a new set</h1>

<form id    ="create-set" 
        action=""
        method="POST">
    {% csrf_token %}
  
  <div id="study-set-info-wrapper">


      <input  id  ="create-set-title" 
              type="text" 
              name="title" 
              size="81" 
              maxlength  ="127"
              placeholder="Title"  
              {% if debug %}value="Title test"{% endif %}
              required>



      <textarea id  ="create-set-description" 
                name="description"
                maxlenght  ="1023" 
                oninput    ="" 
                placeholder="Description">{% if debug %}Description test{% endif %}</textarea>


<!-- Util.autoGrow(this) -->

    <div  id   ="terms-lang-container">
      <label for="terms-lang-container">
        Terms language: 
      </label>

      <select id   ="terms-lang"
              name ="terms-lang"  
              required>
        {% include './language_selection.html' %}
      </select>
    </div>


    <div  id   ="defs-lang-container">
      <label for="defs-lang-container">
        Definitions language:
      </label>

      <select id   ="defs-lang"
              name ="defs-lang" 
              required>
        {% include './language_selection.html' %}
      </select>
    </div>

  </div>

    <div id="study-items-wrapper">
      {% for i in range %}
        <div class="study-item-wrapper-single">
          
          <div class ="study-item-index-bullet
                        bg-lleuad 
                        text-lleuad-lawn">
            {{ i }}
          </div>

          <div class="study-item-container">
            {% include './study_item.html' %}
          </div>

        </div>
      {% endfor %}
    </div>


  <button id="study-set-add-item"
          type="button">
    Add item
  </button>

  <input  id   ="study-set-submit"
          type ="submit" 
          value="Create study set">

  <button id="debug"
          type="button">
    DEBUG
  </button>
</form>
{% endblock %}