<textarea class ="term-input 
                  study-item-input"
          name       ="term" 
          placeholder="Enter term"
          required
  >{% if debug %}Term {{ i }}{% endif %}</textarea>


<textarea class ="definition-input 
                  study-item-input"
          name       ="definition"
          placeholder="Enter definition"
          required
  >{% if debug %}Def {{ i }}{% endif %}</textarea>


<textarea class ="category-input 
                  study-item-input"
          name       ="category"
          placeholder="Category"
  >{% if debug %}Cat {{ i }}{% endif %}</textarea>


<textarea class ="notes-input 
                  study-item-input"
          name       ="notes"
          placeholder="Notes (placeholder for a future update)"
  ></textarea>