<div class="term-input study-item-input">
  <textarea name       ="term" 
            placeholder="Enter term"
            required
            >{% if debug %}Term {{ i }}{% endif %}</textarea>
</div>

<div class="description-input study-item-input">
  <textarea name       ="definition"
            placeholder="Enter definition"
            required
            >{% if debug %}Def {{ i }}{% endif %}</textarea>
</div>

<div class="category-input study-item-input">
  <textarea name       ="category"
            placeholder="Category"
            >{% if debug %}Cat {{ i }}{% endif %}</textarea>
</div>

<div class="notes-input study-item-input">
  <textarea name       ="notes"
            placeholder="Notes (placeholder for a future update"
            ></textarea>
</div>